<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Mmmarkdown</title>
    <link rel="stylesheet" type="text/css"  href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
    <link type="text/css" href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>

  <body>
    <div class="grid">
      <div class="side">
        <div class="side-title">
          <h3>mmmarkdown</h3>
          <span class="subtitle">a yummy markdown editor</span>
        </div>
        <div id="new-file">
            <div class="item">
              <label for="new-file">
              <span class="item-text pale">New File</span>
              </label>
              <div class="icon">
                <button><i class="material-icons">add</i></button>
              </div>
            </div>
        </div>

      <div id="files">
        <ul id="list-of-files">

        </ul>
      </div>
    </div>
      <!-- end of side -->


      <div class="top">
        <div><span contenteditable="true" class="fileName" id="fileName" >FileName</span></div>
        <div class="words"><span>__ words</span></div>
        <div class="save">
          <button type="submit" name="saveBtn" id="save">Save</button>
        </div>
      </div>

      <div class="middle">
        <div class="middle-title">MARKDOWN</div>
        <div class="middle-text">
          <textarea id="input" name="markdown-text" rows="20" cols="50" placeholder="write your markdown text here..." autofocus></textarea>
        </div>

        <div class="empty">
        </div>
      </div>
      <!-- end of middle -->

      <div class="right">
        <div class="right-title">PREVIEW</div>

        <div class="right-text">
          <div id="result-html"></div>
          <%# <textarea id="output" name="preview-text" rows="20" cols="50"></textarea>%>
        </div>

      </div>
      <div class="empty">
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/lodash/4.17.4/lodash.js"></script>
    <script src="https://cdn.jsdelivr.net/remarkable/1.7.1/remarkable.min.js">
    </script>

    <script type="text/javascript" src="js/script.js">

    </script>
  </body>

</html>
