<html>

  <head>
    <meta charset="UTF-8">
    <title>Mmmarkdown</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../../public/css/style.css">
  </head>

  <body>
    <div class="grid">
      <div class="side">
        <div class="side-title">
          <h3>mmmarkdown</h3>
          <span class="subtitle">a yummy markdown editor</span>
        </div>
        <div class="item">
          <span class="item-text">Groceries.md</span>
          <div class="icon">
            <button><i class="material-icons">delete</i></button>
          </div>
        </div>
        <div class="item">
          <span class="item-text">Todos.md</span>
          <div class="icon">
            <button><i class="material-icons">delete</i></button>
          </div>
        </div>
        <div class="item highlight">
          <span class="item-text">ExampleFile.md</span>
          <div class="icon">
            <button><i class="material-icons">delete</i></button>
          </div>
        </div>
        <div class="item">
          <span class="item-text">Blog.md</span>
          <div class="icon">
            <button><i class="material-icons">delete</i></button>
          </div>
        </div>
        <div class="item">
          <span class="item-text">Draft.md</span>
          <div class="icon">
            <button><i class="material-icons">delete</i></button>
          </div>
        </div>
        <div class="item">
          <span class="item-text pale">New File</span>
          <div class="icon">
            <button><i class="material-icons">add</i></button>
          </div>
        </div>
        <div class="empty-side">
          <a href="#">Fork me on Github</a>
        </div>

      </div>
      <!-- end of side -->


      <div class="top">
        <div><span>ExampleFile.md</span></div>
        <div class="words"><span>138 words </span></div>
        <div class="save"><span>Save</span></div>
      </div>
      <div class="middle">
        <div class="middle-title">MARKDOWN</div>

        <div class="middle-text">
          <p># An h1 header</p>
          <p>Paragraphs are separated by a blank line.</p>
          <p>2nd paragraph. _Italic_, **bold**, and `monospace`. Itemized lists look like:</p>
          <ul>
            <li>- this one</li>
            <li>- that one</li>
            <li>- the other one</li>
          </ul>
          <ul>
            <li>> Block quotes are</li>
            <li>> written like so.</li>
            <li>> </li>
            <li>> They can span multiple paragraphs,</li>
            <li>> if you like.</li>
          </ul>
        </div>

        <div class="empty">
        </div>
      </div>
      <!-- end of middle -->
      <div class="right">
        <div class="right-title">PREVIEW</div>

        <div class="right-text">
          <h1># An h1 header</h1>
          <p>Paragraphs are separated by a blank line.</p>
          <p>2nd paragraph. _Italic_, **bold**, and `monospace`. Itemized lists look like:</p>
          <ul>
            <li>this one</li>
            <li>that one</li>
            <li>the other one</li>
          </ul>
          <blockquote>
            <p>Block quotes are written like so.</p>
            <p>They can span multiple paragraphs, if you like.</p>
          </blockquote>
        </div>

      </div>
      <div class="empty">
      </div>
    </div>
  </body>

</html>